<?xml version="1.0" encoding="GBK" ?>


<CONFIG xmlns="http://www.otd.org/MENU" xmlns:W3CNS="http://www.w3c.org">

<TITLE>商业银行前台处理系统</TITLE>

<BANKBOOK>
  <!--  KINDNO            储种
        FIRST-PAGE-EMPTY  首页是否为空
        BEGIN-LINE        存折页眉跳过的行数,即每页的开始位置
        PAGE-LINES-UP     存折上面一页的行数
        PAGE-LINES-DOWN   存折下面一页的行数
        MIDDLE-SKIP-LINES 中缝跳过的行数 -->
  <!--  活期 --><!----改商行的后,变成100笔存折,且首页占两页,翻页后打印第一笔记录---->
  <ITEM KINDNO="02" FIRST-PAGE-EMPTY="0" BEGIN-LINE="3" PAGE-LINES-UP="10" PAGE-LINES-DOWN="10" MIDDLE-SKIP-LINES="2"/>
  <!--  储蓄未打折明细-->
  <ITEM KINDNO="09" FIRST-PAGE-EMPTY="0" BEGIN-LINE="1" PAGE-LINES-UP="25" PAGE-LINES-DOWN="25" MIDDLE-SKIP-LINES="0"/>
<!--  零存整取 --><!---现在为一户通存折--->
  <ITEM KINDNO="04" FIRST-PAGE-EMPTY="1" BEGIN-LINE="3" PAGE-LINES-UP="10" PAGE-LINES-DOWN="10" MIDDLE-SKIP-LINES="2"/>
  <!--  教育储蓄 -->
  <ITEM KINDNO="05" FIRST-PAGE-EMPTY="1" BEGIN-LINE="2" PAGE-LINES-UP="12" PAGE-LINES-DOWN="12" MIDDLE-SKIP-LINES="3"/> 
  <!--  存本取息 -->
  <ITEM KINDNO="07" FIRST-PAGE-EMPTY="1" BEGIN-LINE="2" PAGE-LINES-UP="12" PAGE-LINES-DOWN="12" MIDDLE-SKIP-LINES="3"/>
  <!--  一本通 -->
  <ITEM KINDNO="08" FIRST-PAGE-EMPTY="1" BEGIN-LINE="3" PAGE-LINES-UP="10" PAGE-LINES-DOWN="10" MIDDLE-SKIP-LINES="3"/>
</BANKBOOK>
<REPORT>

<TRANSACTION ACTION="RPTDZ.CMD">
  <OPTION VALUE="1  对公活期客户明细帐页   " TITLE="1.对公活期客户明细帐页"   FILE="KHDZD_CPB.RPT"/>
  <OPTION VALUE="2  对公贷款客户明细帐页   " TITLE="2.对公贷款客户明细帐页"   FILE="KHDZD_CLN.RPT"/>
  <OPTION VALUE="3  总帐明细帐页   " TITLE="3.总帐明细帐页"   FILE="KHDZD_ACMR.RPT"/>
  <OPTION VALUE="4  内部帐明细帐页   " TITLE="4.内部帐明细帐页"   FILE="KHDZD_ACCOUNT.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTMYZ.CMD">
  <OPTION VALUE="0  对公活期客户明细帐页   " TITLE="1.对公活期客户明细帐页"   FILE="KHDZD_CPB.RPT"/>
  <OPTION VALUE="1  对公贷款客户明细帐页   " TITLE="1.对公贷款客户明细帐页"   FILE="KHDZD_CLN.RPT"/>
  <OPTION VALUE="2  对公内部客户明细帐页   " TITLE="1.对公内部客户明细帐页"   FILE="KHDZD_ACCOUNT.RPT"/>
  <OPTION VALUE="3  科目明细帐页           " TITLE="1.科目明细帐页"   FILE="KHDZD_ACMR.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTFULL.CMD">
  <OPTION VALUE="1  打印帐号满页帐       " TITLE="1.打印帐号满页帐"     FILE="FULLPAGE.RPT"/>
  <OPTION VALUE="2  打印科目满页帐       " TITLE="2.打印科目满页帐"     FILE="FULLPAGE_KM.RPT"/>
  <OPTION VALUE="3  打印内部帐满页帐     " TITLE="3.打印内部帐满页帐"     FILE="FULLPAGE_NB.RPT"/>
  <OPTION VALUE="4  年终打印未满页帐     " TITLE="4.年终打印未满页帐"   FILE="LEAVE.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTRJBD.CMD">
<OPTION VALUE="1  日报                     " TITLE="1.日报                    "  FILE="BHDRPT10.RPT"/>
<OPTION VALUE="2  储蓄日报                 " TITLE="2.储蓄日报                "  FILE="BHDRPT100.RPT"/>
<OPTION VALUE="3  流水帐清单               " TITLE="3.流水帐清单              "  FILE="BHDRPT40.RPT"/>
<OPTION VALUE="4  科目日结单               " TITLE="4.科目日结单              "  FILE="BHDRPT41.RPT"/>
<OPTION VALUE="5  开户行通兑传票           " TITLE="5.开户行通兑传票          "  FILE="BHDRPT210.RPT" />
<OPTION VALUE="6  开户行对公通存科目传票   " TITLE="6.开户行对公通存科目传    "  FILE="BHDRPT28.RPT"/>
<OPTION VALUE="7  开户行对公通存帐号传票   " TITLE="7.开户行对公通存帐号传票  "  FILE="BHDRPT29.RPT"/>
<OPTION VALUE="8  交易行清算通兑传票(储蓄) " TITLE="8.交易行清算通兑传票(储蓄)"  FILE="BHDRPT212.RPT"/>
<OPTION VALUE="9  交易行清算通兑传票(对公) " TITLE="9.交易行清算通兑传票(对公)"  FILE="BHDRPT213.RPT"/>
<OPTION VALUE="a  本代他通存通兑(清单)     " TITLE="a.本代他通存通兑(清单)    "  FILE="BHDRPT300.RPT"/>
<OPTION VALUE="b  他代本通存通兑(清单)     " TITLE="b.他代本通存通兑(清单)    "  FILE="BHDRPT310.RPT"/>
<OPTION VALUE="c  动户余额表               " TITLE="c.打印动户余额表          "  FILE="BHDRPT43.RPT"/>
<OPTION VALUE="d  成功入帐报表打印         " TITLE="d.成功入帐报表打印        "  FILE="BHDRPT81.RPT"/>
<OPTION VALUE="e  未成功入帐报表打印       " TITLE="e.未成功入帐报表打印      "  FILE="BHDRPT82.RPT"/>
<OPTION VALUE="f  清算中心通兑差额表       " TITLE="f.清算中心通兑差额表      "  FILE="BHDRPT20.RPT"/>
<OPTION VALUE="g  清算中心通兑传票(储蓄)   " TITLE="g.清算中心通兑传票(储蓄)"    FILE="BHDRPT211.RPT"/>
<OPTION VALUE="o  清算中心通存传票(对公)   " TITLE="o.清算中心通存传票(对公)"    FILE="BHDRPT213.RPT"/>
<OPTION VALUE="h  清算中心通兑汇差表       " TITLE="h.清算中心通兑汇差表      "  FILE="BHDRPT21.RPT"/>
<OPTION VALUE="p  清算中心通兑清单         " TITLE="p.清算中心通兑清单        "  FILE="BHDRPT214.RPT"/>
<OPTION VALUE="i  资金汇划业务当日发送清单 " TITLE="i.资金汇划业务当日发送清单"  FILE="BHDRPT861.RPT"/>
<OPTION VALUE="j  资金汇划业务当日接收清单 " TITLE="j.资金汇划业务当日接收清单"  FILE="BHDRPT862.RPT"/>
<OPTION VALUE="k  整存整取自动转存帐户清单 " TITLE="k.整存整取自动转存帐户清单"  FILE="BHDUPD20.RPT"/>
<OPTION VALUE="l  贷款余额表               " TITLE="l.打印贷款余额表"            FILE="BHDRPT44.RPT"/>
<OPTION VALUE="x  贷款欠息余额表           " TITLE="x.打印贷款欠息余额表"        FILE="BHDRPT48.RPT"/>
<OPTION VALUE="m  内部帐户余额表           " TITLE="m.打印内部帐户余额表"       FILE="BHDRPTDG434.RPT"/>
<OPTION VALUE="n  存款余额表               " TITLE="n.打印存款余额表"           FILE="BHDRPT43ALL.RPT"/>
<OPTION VALUE="q  现金登记薄               " TITLE="q.现金登记薄    "           FILE="BHDRPT45_KF.RPT"/>
<OPTION VALUE="r  存款余额变化表           " TITLE="r.存款余额变化表 "          FILE="BHDRPTTCB.RPT"/>
<OPTION VALUE="s. 存贷款利润统计表         " TITLE="s.存贷款利润统计表"         FILE="BHMRPT84.RPT"/>
<OPTION VALUE="t. 资金头寸旬报表           " TITLE="t.资金头寸旬报表"           FILE="BHMRPT85.RPT"/>
<OPTION VALUE="u  存款余额一览表           " TITLE="u.存款余额一览表 "          FILE="BHDRPT411.RPT"/>
<OPTION VALUE="v  贷款批量形态调整清单     " TITLE="v.贷款批量形态调整清单    "  FILE="BHDRPT77.RPT"/>
<OPTION VALUE="w  贷款特种转帐传票-借贷    " TITLE="w.贷款特种转帐传票-借贷   "  FILE="BHDRPT75.RPT"/>
<OPTION VALUE="x  零整教育自动续存清单     " TITLE="x.零整教育自动续存清单    "  FILE="BHMRPTLZCR.RPT"/>
<OPTION VALUE="y  补打满页帐     	   " TITLE="y.补打满页帐    	       " FILE="KHDZD_CPB.RPT"/>
</TRANSACTION>

<!--add by libin at 20050627-->
<TRANSACTION ACTION="RPTDE.CMD">
<OPTION VALUE="1."  TITLE="1.往帐业务清单                         " FILE="_BHDRPT4021_1_.RPT"/>
<OPTION VALUE="2."  TITLE="2.支行来帐业务清单                     " FILE="_BHDRPT4021_2_.RPT"/>
<OPTION VALUE="3."  TITLE="3.大额未成功清单                       " FILE="BHDRPT405.RPT"    />
<OPTION VALUE="4."  TITLE="4.支 付 系 统 查 复 书                 " FILE="BHDRPT414.RPT"    />
<OPTION VALUE="5."  TITLE="5.支 付 系 统 查 询 书                 " FILE="BHDRPT415.RPT"    />
<OPTION VALUE="6."  TITLE="6.支付系统自由格式                     " FILE="BHDRPT416.RPT"    />
<OPTION VALUE="7."  TITLE="7.往帐业务4110100清单                  " FILE="BHDRPT418.RPT"    />
<OPTION VALUE="8."  TITLE="8.支行来帐业务4120100清单              " FILE="BHDRPT419.RPT"    />
<OPTION VALUE="9."  TITLE="9.市行对支行来帐错帐处理业务4070203清单" FILE="BHDRPT422.RPT"    />
<OPTION VALUE="a."  TITLE="a.支行大额业务借贷传票                 " FILE="BHDRPT421.RPT"    />
<OPTION VALUE="b."  TITLE="b.市行来帐业务清单                     " FILE="_BHDRPT4021_3_.RPT"/>
<OPTION VALUE="c."  TITLE="c.市行110往帐业务清单                  " FILE="BHDRPT406.RPT"/>
<OPTION VALUE="d."  TITLE="d.市行借贷方传票                       " FILE="BHDRPT407.RPT"/>
<OPTION VALUE="e."  TITLE="e.市行110来帐业务清单                  " FILE="BHDRPT408.RPT"/>
<OPTION VALUE="f."  TITLE="f.市行拆借来帐挂账清单                 " FILE="BHDRPT409.RPT"/>
<OPTION VALUE="g."  TITLE="g.市行2610300汇票来帐业务清单          " FILE="BHDRPT410.RPT"/>
<OPTION VALUE="h."  TITLE="h.市行2610500拒绝/撤销业务清单         " FILE="BHDRPT412.RPT"/>
<OPTION VALUE="i."  TITLE="i.市行汇票结清清单                     " FILE="BHDRPT413.RPT"/>
<OPTION VALUE="j."  TITLE="j.市行汇票123，124报文清单             " FILE="BHDRPT417.RPT"/>
<OPTION VALUE="k."  TITLE="k.市行4120100来帐业务清单              " FILE="BHDRPT420.RPT"/>
<OPTION VALUE="l."  TITLE="l.市行对支行来帐错帐处理业务4070103清单" FILE="BHDRPT423.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTCDK.CMD">
<OPTION VALUE="1  对公存款利息传票-借贷    " TITLE="1.对公存款利息传票-借贷   "  FILE="BHSRPT71.RPT"/>
<OPTION VALUE="2  对公存款利息清单         " TITLE="2.对公存款利息清单        "  FILE="BHSRPT73.RPT"/>
<OPTION VALUE="3  对公贷款利息传票-借贷    " TITLE="3.对公贷款利息传票-借贷   "  FILE="BHDRPT72.RPT"/>
<OPTION VALUE="4  对公贷款利息清单         " TITLE="4.对公贷款利息清单        "  FILE="BHDRPT74.RPT"/> 
<OPTION VALUE="5  贷款结息利息收入清单     " TITLE="5.打印贷款结息利息收入清单"  FILE="BHDRPT74_501.RPT"/>
<OPTION VALUE="6  贷款批量形态调整清单     " TITLE="6.贷款批量形态调整清单    "  FILE="BHDRPT77.RPT"/>
<OPTION VALUE="7  贷款特种转帐传票-借贷    " TITLE="7.贷款特种转帐传票-借贷   "  FILE="BHDRPT75.RPT"/>
<OPTION VALUE="8  贷款十天后到期帐户清单   " TITLE="8.贷款十天后到期帐户清单  "  FILE="BHMRPT82.RPT"/>
<OPTION VALUE="9  逾期贷款明细表           " TITLE="9.逾期贷款明细表          "  FILE="BHMRPT81.RPT"/>
<OPTION VALUE="a  未结转应收未收利息清单   " TITLE="a.未结转应收未收利息清单  "  FILE="BHDRPTA0.RPT"/>
<OPTION VALUE="b  个人贷款按月扣本金清单   " TITLE="b.个人贷款按月扣本金清单  "  FILE="BHDUPD55.RPT"/>
<OPTION VALUE="c  个人贷款按月扣本金传票   " TITLE="c.个人贷款按月扣本金传票  "  FILE="BHDUPDCP55.RPT"/>
<OPTION VALUE="d  对公贷款归还利息传票-发票" TITLE="d.对公贷款归还利息传票-发票" FILE="BHDRPT72_FP.RPT"/>
<OPTION VALUE="e. 对公贷款133利息传票-借贷 " TITLE="e.对公贷款133利息传票-借贷"  FILE="BHDRPT72_133.RPT"/>
<OPTION VALUE="f. 对公贷款705利息传票-借贷 " TITLE="f.对公贷款705利息传票-借贷"  FILE="BHDRPT72_705.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTZQ.CMD">
<OPTION VALUE="1  月报                     " TITLE="1.月报                     "  FILE="BHMRPT10.RPT"/>
<OPTION VALUE="2  储蓄月报                 " TITLE="2.储蓄月报                 "  FILE="BHMRPT100.RPT"/>
<OPTION VALUE="3  资产负债表月报           " TITLE="3.打印资产负债表月报       "  FILE="BHMRPT74.RPT"/>
<OPTION VALUE="4  总帐帐页                 " TITLE="4.总帐帐页                 "  FILE="BHMRPT80.RPT"/>
<OPTION VALUE="6  银行汇票台账             " TITLE="6.银行汇票台账             "  FILE="HPRPT01.RPT"/>
<OPTION VALUE="7  银行承兑汇票台账         " TITLE="7.银行承兑汇票台账         "  FILE="HPRPT02.RPT"/>
<OPTION VALUE="8  拆借登记簿               " TITLE="8.拆借登记簿               "  FILE="BHDRPT55.RPT"/>
<OPTION VALUE="9  客户经理业绩统计         " TITLE="9.客户经理业绩统计         "  FILE="CBHSRPT13.RPT"/>
<OPTION VALUE="a  储蓄利息税               " TITLE="a.储蓄利息税               "  FILE="BHDRPTTAXMX.RPT"/>
<OPTION VALUE="c  储蓄存款个人所得税报告   " TITLE="c.储蓄存款个人所得税报告   "  FILE="BHMRPTTAXSUM.RPT"/>
<OPTION VALUE="d  教育储蓄开户信息表       " TITLE="d.教育储蓄开户信息表       "  FILE="BHMRPTEDMX.RPT"/>
<OPTION VALUE="e  教育储蓄免税信息表       " TITLE="e.教育储蓄免税信息表       "  FILE="BHMRPTEDTAX.RPT"/>
<OPTION VALUE="f  电子汇划费手续费计费明细表"TITLE="f.电子汇划费手续费计费明细表" FILE="BHDRPT90.RPT"/>
<OPTION VALUE="g  季报                     " TITLE="g.季报                     "  FILE="BHSRPT10.RPT"/>
<OPTION VALUE="h  损益季报                 " TITLE="h.损益季报                 "  FILE="BHSRPT75.RPT"/>
<OPTION VALUE="i  资产负债表季报           " TITLE="i.资产负债表季报           "  FILE="BHSRPT74.RPT"/>
<OPTION VALUE="j  年报                     " TITLE="j.年报                     "  FILE="BHYRPT10.RPT"/>
<OPTION VALUE="k  损益表年报               " TITLE="k.损益表年报               "  FILE="BHYRPT75.RPT"/>
<OPTION VALUE="l  资产负债表年报           " TITLE="l.资产负债表年报           "  FILE="BHYRPT74.RPT"/>
<OPTION VALUE="m  开销户登记薄             " TITLE="m.开销户登记薄             "  FILE="BHYRPT46_KF.RPT"/>
<OPTION VALUE="n  损益表月报               " TITLE="n.打印损益表月报"             FILE="BHMRPT75.RPT"/>
<OPTION VALUE="o  损益表月报               " TITLE="o.打印损益表月报"             FILE="BHDUPD17.RPT"/>
<OPTION VALUE="p  资产折旧传票             " TITLE="p.资产折旧传票"               FILE="BHDRPTZCZJ.RPT"/>
<OPTION VALUE="q  资产折旧清单             " TITLE="q.资产折旧清单"               FILE="BHDRPTZJQD.RPT"/>
<OPTION VALUE="r  旬准备金传票             " TITLE="r.旬准备金传票"               FILE="BHXRPT01.RPT"/>
</TRANSACTION>

<TRANSACTION ACTION="RPTKJZX.CMD">
<OPTION VALUE="1  日报                     " TITLE="1.日报                    "  FILE="BHDRPT10.RPT"/>
<OPTION VALUE="2  储蓄日报                 " TITLE="2.储蓄日报                "  FILE="BHDRPT100.RPT"/>
<OPTION VALUE="3  流水帐清单               " TITLE="3.流水帐清单              "  FILE="BHDRPT40.RPT"/>
<OPTION VALUE="4  科目日结单               " TITLE="4.科目日结单              "  FILE="BHDRPT41.RPT"/>
<OPTION VALUE="5  开户行通兑传票           " TITLE="5.开户行通兑传票          "  FILE="BHDRPT210.RPT" />
<OPTION VALUE="6  开户行对公通存科目传票   " TITLE="6.开户行对公通存科目传    "  FILE="BHDRPT28.RPT"/>
<OPTION VALUE="7  开户行对公通存帐号传票   " TITLE="7.开户行对公通存帐号传票  "  FILE="BHDRPT29.RPT"/>
<OPTION VALUE="8  交易行清算通兑传票(储蓄) " TITLE="8.交易行清算通兑传票(储蓄)"  FILE="BHDRPT212.RPT"/>
<OPTION VALUE="9  交易行清算通兑传票(对公) " TITLE="9.交易行清算通兑传票(对公)"  FILE="BHDRPT213.RPT"/>
<OPTION VALUE="a  本代他通存通兑(清单)     " TITLE="a.本代他通存通兑(清单)    "  FILE="BHDRPT300.RPT"/>
<OPTION VALUE="b  他代本通存通兑(清单)     " TITLE="b.他代本通存通兑(清单)    "  FILE="BHDRPT310.RPT"/>
<OPTION VALUE="c  动户余额表               " TITLE="c.打印动户余额表          "  FILE="BHDRPT43.RPT"/>
<OPTION VALUE="d  成功入帐报表打印         " TITLE="d.成功入帐报表打印        "  FILE="BHDRPT81.RPT"/>
<OPTION VALUE="e  未成功入帐报表打印       " TITLE="e.未成功入帐报表打印      "  FILE="BHDRPT82.RPT"/>
<OPTION VALUE="f  清算中心通兑差额表       " TITLE="f.清算中心通兑差额表      "  FILE="BHDRPT20.RPT"/>
<OPTION VALUE="g  清算中心通兑传票(储蓄)  " TITLE="g.清算中心通兑传票(储蓄)"    FILE="BHDRPT211.RPT"/>
<OPTION VALUE="o  清算中心通存传票(对公)"   TITLE="o.清算中心通存传票(对公)"    FILE="BHDRPT213.RPT"/>
<OPTION VALUE="h  清算中心通兑汇差表       " TITLE="h.清算中心通兑汇差表      "  FILE="BHDRPT21.RPT"/>
<OPTION VALUE="p  清算中心通兑清单         " TITLE="p.清算中心通兑清单        "  FILE="BHDRPT214.RPT"/>
<!--
<OPTION VALUE="i  资金汇划业务当日发送清单 " TITLE="i.资金汇划业务当日发送清单"  FILE="BHDRPT861.RPT"/>
<OPTION VALUE="j  资金汇划业务当日接收清单 " TITLE="j.资金汇划业务当日接收清单"  FILE="BHDRPT862.RPT"/>
<OPTION VALUE="k  整存整取自动转存帐户清单 " TITLE="k.整存整取自动转存帐户清单"  FILE="BHDUPD20.RPT"/>
<OPTION VALUE="l  贷款余额表               " TITLE="l.打印贷款余额表"            FILE="BHDRPT44.RPT"/>
<OPTION VALUE="m  内部帐户余额表           " TITLE="m.打印内部帐户余额表"       FILE="BHDRPTDG434.RPT"/>
<OPTION VALUE="n  存款余额表               " TITLE="n.打印存款余额表"           FILE="BHDRPT43ALL.RPT"/>
<OPTION VALUE="q  对公存款利息传票-借贷    " TITLE="q.对公存款利息传票-借贷   "  FILE="BHSRPT71.RPT"/>
<OPTION VALUE="r  对公存款利息传票清单     " TITLE="r.对公存款利息传票清单    "  FILE="BHSRPT73.RPT"/>
<OPTION VALUE="s  对公贷款利息传票-借贷    " TITLE="s.对公贷款利息传票-借贷   "  FILE="BHDRPT72.RPT"/>
<OPTION VALUE="t  对公贷款利息传票清单     " TITLE="t.对公贷款利息传票清单    "  FILE="BHDRPT74.RPT"/> 
<OPTION VALUE="u  贷款结息利息收入清单     " TITLE="u.打印贷款结息利息收入清单"  FILE="BHDRPT74_501.RPT"/>
<OPTION VALUE="v  贷款批量形态调整清单     " TITLE="v.贷款批量形态调整清单    "  FILE="BHDRPT77.RPT"/>
<OPTION VALUE="w  贷款特种转帐传票-借贷    " TITLE="w.贷款特种转帐传票-借贷   "  FILE="BHDRPT75.RPT"/>
<OPTION VALUE="x  贷款十天后到期帐户清单   " TITLE="x.贷款十天后到期帐户清单  "  FILE="BHMRPT82.RPT"/>
<OPTION VALUE="y  逾期贷款明细表           " TITLE="y.逾期贷款明细表          "  FILE="BHMRPT81.RPT"/>
<OPTION VALUE="z  未结转应收未收利息清单   " TITLE="z.未结转应收未收利息清单  "  FILE="BHDRPTA0.RPT"/>
-->
<OPTION VALUE="A  月报                     " TITLE="A.月报                     "  FILE="BHMRPT10.RPT"/>
<OPTION VALUE="B  储蓄月报                 " TITLE="B.储蓄月报                 "  FILE="BHMRPT100.RPT"/>
<OPTION VALUE="C  损益表月报               " TITLE="C.打印损益表月报"             FILE="BHMRPT75.RPT"/>
<OPTION VALUE="D  资产负债表月报           " TITLE="D.打印资产负债表月报       "  FILE="BHMRPT74.RPT"/>
<OPTION VALUE="E  季报                     " TITLE="E.季报                     "  FILE="BHSRPT10.RPT"/>
<OPTION VALUE="F  损益季报                 " TITLE="F.损益季报                 "  FILE="BHSRPT75.RPT"/>
<OPTION VALUE="G  资产负债表季报           " TITLE="G.资产负债表季报           "  FILE="BHSRPT74.RPT"/>
<OPTION VALUE="H  年报                     " TITLE="H.年报                     "  FILE="BHYRPT10.RPT"/>
<OPTION VALUE="I  损益表年报               " TITLE="I.损益表年报               "  FILE="BHYRPT75.RPT"/>
<OPTION VALUE="J  资产负债表年报           " TITLE="J.资产负债表年报           "  FILE="BHYRPT74.RPT"/>
<OPTION VALUE="K  储蓄扣缴个人所得税报告表 " TITLE="K.储蓄扣缴个人所得税报告表 "  FILE="BHMRPTTAXSUM.RPT"/>
</TRANSACTION>
</REPORT>
</CONFIG>
